---
- name: Execute a shell command
  hosts: all
  gather_facts: no
 
  vars:
    ansible_become: yes
    ansible_become_method: enable
    ansible_user: thunchra
    ansible_password: P@ssw0rd

  tasks:
    - name: Execute the command
      ansible.builtin.shell:
        cmd: ls -l
      register: get
    - debug: var=get.stdout_lines

